@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.hero {
    align-items: center;
    background-color: #FFB213;
    color: #A1451C;
    display: flex;
    flex-direction: column;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    width: 960px;
}

.header__logo {
    font-size: 24px;
    font-weight: bold;
}

.header__list {
    display: flex;
    list-style-type: none;
}

.header__link {
    font-size: 18px;
    margin-left: 18px;
}

.hero__div {
    display: flex;
    justify-content: space-between;
    padding: 96px 0;
    width: 960px;
}

.hero__copy {
    font-size: 18px;
    width: 50%;
}

.hero__title {
    font-size: 48px;
    font-weight: 900;
}

.hero__button {
    background-color: #FFFFFF;
    border: none;
    border-radius: 8px;
    color: #A1451C;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-top: 8px;
    margin-left: 8px;
    padding: 6px 14px;
}

.hero__img {
    width: 30%;
}

.types {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 32px 0;
}

.types__title{
    color: #A1451C;
    font-size: 36px;
    font-weight: 900;
}

.types__div {
    display: flex;
    gap: 48px;
    justify-content: center;
    margin: 36px 0 72px 0;
    width: 960px;
}

.types__img {
    border: 5px solid #EA7B17;
    border-radius: 8px;
    height: 150px;
    object-fit: cover;
    width: 150px;
}

.types__fig {
    color: #A1451C;
    font-size: 18px;
    text-align: center;
}

.quote {
    background-color: #D57400;
    color: #FFF;
    padding: 96px 0;
}

.quote__div {
    margin: 0 auto;
    padding: 0 96px;
    width: 960px;
}

.quote__text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote__author {
    font-size: 18px;
    font-weight: 700;
    margin-top: 12px;
    text-align: right;
}